body {
    margin: 0;
    padding: 0;
    max-width: 1920px;
    width: 100%;
    box-sizing: border-box;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(/Fonts/HelveticaNeue-01.ttf);
}

.LOGO1 {
    width: 236px;
    height: 38px;
    position: absolute;
    left: 70px;
    top: 25px;
}

.LOGO2 {
    width: 299px;
    height: 299px;
    position: absolute;
    top: 473px;
    left: 1076px;
}

.HR1 {
    position: absolute;
    border: solid 1px #1A1A1A;
    top: 89px;
    left: 70px;
    height: 0px;
    right: 70px;
}

.BackClick {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 48px;
    top: 45px;
    background: #FFFFFF;
    border-radius: 100%;
}

.BackClick:hover {
    transform: scale(1.2);
}

.BackClickArrow {
    position: absolute;
    width: 9.21px;
    height: 16px;
    left: 62px;
    top: 57px;
}

.Button1 {
    width: 464px;
    height: 60px;
    position: absolute;
    left: 728px;
    top: 513px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;
    background: #1A1A1A;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.Button1:hover {
    background-color: #3a3939;
    border: none;
    transform: scale(1.1);
}

.a1 {
    color: white;
}

.Link_a {
    text-decoration: none;
}

.Button_P {
    width: 212px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Helvetica Neue';
}

.Large_P {
    position: absolute;
    width: 190px;
    height: 29px;
    left: 149px;
    top: 39px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    /* off black */

    color: #1A1A1A;
}

.RedHr1 {
    position: absolute;
    width: 798px;
    height: 0px;
    left: 150px;
    top: 88px;
    border: 1px solid #1A1A1A;
}

.Parts {
    position: absolute;
    width: 29px;
    height: 24px;
    left: 920px;
    top: 49px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #1A1A1A;
}

.Name_P {
    width: 371px;
    height: 21px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.NameDiv {
    width: 370px;
    height: 122px;
    position: absolute;
    left: 126px;
    top: 157px;
    border: none;
    padding: 8px 24px;
}

.label1 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 21px;
    position: absolute;
    top: 8px;
    left: 24px;
    color: black;
}

.NameInput {
    box-sizing: border-box;
    width: 371px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    position: absolute;
    top: 37px;
    left: 24px;
    padding: 13px 14px 16px 15px;
    padding-left: 16px;
    word-wrap: break-word;
    outline: 0;
}

.NameInput input::placeholder {
    width: 339px;
    height: 21px;
    position: absolute;
    top: 10px;
    left: 16px;
}

.MinLetter {
    width: 471px;
    height: 21px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    position: absolute;
    top: 93px;
    left: 24px;
    line-height: 1px;
}

.SurnameDiv {
    width: 370px;
    height: 122px;
    position: absolute;
    left: 545px;
    top: 157px;
    border: none;
    padding: 8px 24px;
}

.OwnPhoto {
    position: absolute;
    width: 232px;
    height: 22px;
    left: 150px;
    top: 325px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #1A1A1A;
}

.PR_Picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 12px;
    gap: 10px;
    position: absolute;
    width: 107px;
    height: 10px;
    left: 401px;
    top: 322px;
    background: #0E80BF;
    border-radius: 4px;
}

.PR_Picture:hover {
    cursor: pointer;
}

.PR_Picture input {
    display: none;
}

.PR_Picture label {
    width: 69px;
    height: 17px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.PR_Picture label:hover {
    cursor: pointer;
}

#ProfilePicture {
    width: 246px;
    display: none;
    position: absolute;
    left: 501px;
    top: 48px;
    border-radius: 133px;
}

.Titles {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.About {
    padding: 8px 24px;
    border: none;
    position: absolute;
    width: 790px;
    height: 148px;
    left: 126px;
    top: 393px;
}

.About label {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.About textarea {
    box-sizing: border-box;
    width: 798px;
    height: 103px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Helvetica Neue';
    resize: none;
    padding: 12px 16px 10px 16px;
    font-size: 16px;
    font-family: 'Helvetica Neue';
    outline: 0;
}

.About textarea::placeholder {
    position: absolute;
    height: 21px;
    left: 16px;
    right: 16px;
    top: 13px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
}

.About textarea:focus {
    border: solid 2px green;
}

.Email {
    padding: 8px 24px;
    border: none;
    position: absolute;
    width: 790px;
    height: 122px;
    left: 126px;
    top: 558px;
}

.Email input {
    box-sizing: border-box;
    width: 798px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    margin-top: 10px;
    outline: 0;
}

.Email input:required:focus:invalid {
    background: url(Invalid_Icon.png) no-repeat 7px 7px;
    background-position: 97.5%;
    border: solid 2px red;
}

.Email input:required:valid {
    background: url(Valid_Icon.png) no-repeat 7px 7px;
    background-position: 97.5%;
    border: solid 2px green;
}

.PhoneNumber {
    padding: 8px 24px;
    border: none;
    position: absolute;
    width: 790px;
    height: 122px;
    left: 126px;
    top: 730px;
}

.PhoneNumber input {
    box-sizing: border-box;
    width: 798px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    margin-top: 10px;
    outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.PhoneNumber input:required:focus:invalid {
    background: url(Invalid_Icon.png) no-repeat 7px 7px;
    background-position: 97.5%;
    border: solid 2px red;
}

.PhoneNumber input:required:valid {
    background: url(Valid_Icon.png) no-repeat 7px 7px;
    background-position: 97.5%;
    border: solid 2px green;
}

.NextPage {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 151px;
    height: 48px;
    left: 797px;
    top: 967px;
    background: #6B40E3;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.NextPage:hover {
    background: #5227c9;
    border: none;
}

.NextPage_P {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

.MotherDiv {
    height: 1080px;
    background-color: #f9f9f9;
}

.Conteiner {
    position: absolute;
    width: 822px;
    height: 1080px;
    right: 0px;
    top: 0px;
    border: none;
    background: #FFFFFF;
}

.RedStar {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 78px;
    top: 994px;
}

.CNT_Name1 {
    position: absolute;
    width: 123px;
    height: 42px;
    left: 80px;
    top: 68px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #F93B1D;
    word-wrap: break-word;
    display: block;
}

.CNT_Surname1 {
    position: absolute;
    width: 150px;
    height: 42px;
    left: 223px;
    top: 68px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #F93B1D;
    word-wrap: break-word;
}

.CNT_Email1 {
    position: absolute;
    width: 189px;
    height: 21px;
    left: 111px;
    top: 127px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
    word-wrap: break-word;
}

.CNT_Number1 {
    position: absolute;
    width: 151px;
    height: 21px;
    left: 111px;
    top: 158px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
    word-wrap: break-word;
}

.CNT_About1 {
    position: absolute;
    width: 432px;
    height: 72px;
    left: 80px;
    top: 250px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-transform: lowercase;
    color: #000000;
    word-wrap: break-word;
}

.icon {
    padding-left: 25px;
    background: url("EmailLogo.png") no-repeat left;
    background-size: 20px;
}

#Name_Span {
    position: absolute;
    left: 90px;
    font-family: 'Helvetica Neue';
    font-weight: 1000;
}

#Surname_Span {
    position: absolute;
    left: 80px;
    font-family: 'Helvetica Neue';
    font-weight: 1000;
}

.Position_Div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: absolute;
    width: 846px;
    height: 125px;
    left: calc(50% - 846px/2 - 411px);
    top: 157px
}

.Position_Div label {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.Position_Div input {
    box-sizing: border-box;
    width: 798px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    position: absolute;
    top: 37px;
    left: 24px;
    padding: 13px 14px 16px 15px;
    padding-left: 16px;
    word-wrap: break-word;
    outline: 0;
}

.Position_Div input::placeholder {
    position: absolute;
    height: 21px;
    left: 16px;
    right: 16px;
    top: 13px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
}

.Employed_Div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    position: absolute;
    width: 846px;
    height: 125px;
    left: calc(50% - 846px/2 - 411px);
    top: 294px;
}

.Employed_Div label {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.Employed_Div input {
    box-sizing: border-box;
    width: 798px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    position: absolute;
    top: 37px;
    left: 24px;
    padding: 13px 14px 16px 15px;
    padding-left: 16px;
    word-wrap: break-word;
    outline: 0;
}

.Employed_Div input::placeholder {
    position: absolute;
    height: 21px;
    left: 16px;
    right: 16px;
    top: 13px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
}

.StartDate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: absolute;
    width: 419px;
    height: 125px;
    left: calc(50% - 419px/2 - 624.5px);
    top: 431px;
}

.EndDate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: absolute;
    width: 419px;
    height: 93px;
    left: calc(50% - 419px/2 - 197.5px);
    top: 431px;
}

.StartDate label {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.EndDate label {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.StartDate input {
    box-sizing: border-box;
    width: 371px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    position: absolute;
    top: 37px;
    left: 24px;
    padding: 13px 14px 16px 15px;
    padding-left: 16px;
    word-wrap: break-word;
    outline: 0;
    font-size: 16px;
}

.EndDate input {
    box-sizing: border-box;
    width: 371px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    position: absolute;
    top: 37px;
    left: 24px;
    padding: 13px 14px 16px 15px;
    padding-left: 16px;
    word-wrap: break-word;
    outline: 0;
    font-size: 16px;
}

.Description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: absolute;
    width: 846px;
    height: 168px;
    left: calc(50% - 846px/2 - 411px);
    top: 541px;
}

.Description label {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.Description textarea {
    box-sizing: border-box;
    width: 798px;
    height: 123px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    resize: none;
    padding: 12px 16px 10px 16px;
    font-size: 16px;
    font-family: 'Helvetica Neue';
    outline: 0;
    
    
}

.Description textarea::placeholder{
    position: absolute;
    height: 21px;
    left: 16px;
    right: 16px;
    top: 13px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
}

.HR2 {
    position: absolute;
    width: 798px;
    height: 0px;
    left: 149px;
    top: 759px;

    border: 1px solid #C1C1C1;
}

.AddMoreInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 14px;
    gap: 20px;
    position: absolute;
    width: 289px;
    height: 48px;
    left: calc(50% - 289px/2 - 666.5px);
    top: 804px;
    background: #62A1EB;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.AddMoreInfo:hover {
    background: #4386d3;
}

.AddInfo_P {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}


.BackPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 35px;
    gap: 20px;
    cursor: pointer;
    position: absolute;
    top:967px;
    width: 113px;
    height: 48px;
    left: 150px;
    bottom: 65px;
    background: #6B40E3;
    border-radius: 4px;
    border: none;
}

.BackPage:hover{
    background: #5227c9;
    border: none;
}

.BackPage_P {
    width: 43px;
    height: 20px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

